#introMain{
  background-color: #ffffff;
  color: #343a40;
  margin-top: 2%;
}

#userSection{
  background-color: #343a40;
  color: #f8fcfe;
  padding-left: 2%;
}

#testOutput{
  margin: 2%;
  border-radius: 8px;
  border-width: 10px;
}

#spanTag{
  color: white;
}

#literacyLinks{
  background-color: #f57c00;
  margin: 3%;
  
}

#mathLinks{
  background-color: #f57c00;
  margin: 3%;
}

#literImage{
  padding-right: 2%;
}

.introBody{
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #343a40;
  color: #f8fcfe;
}

body{
  background-image: url(https://i.imgur.com/G9uU13g.png)
} 
